*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,li {
    list-style: none;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    flex-direction: column;

}

header{
    background-image: url(./img/movies-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80vh;
    
}

.titulo{
    font-size: max(5rem, 5vw);
    padding: 15vh 2vh 5vh 2vh;
    width: max(20vw, 30rem);
}

.nav-bar ul {
    list-style: none;
    position: absolute;
    font-size: 30px;
    top:0;
    right: 0;
}

.nav-bar li{
    display:inline;

}

.nav-bar ul li a{
    color: white;
    padding: 2px 20px;
    display: inline-block; 
    text-decoration: none;
}

h2 {
    text-align: center;
    margin:30px;
    font-size: 45px;

}

.info-halo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 30vh;
    padding: 20px;
}

.descrição-halo{
    margin:10px;
    font-size:25px;
}

.sobre {
    display: flex;
    
}

.img-halo{
    width: 1000px;
    margin:30px 50px;
}
.descrição-halo2{
    margin-right: 50px;
    font-size: 25px;
    align-self: center;
}
.container-filmes{
    margin-top: 40px;
    justify-content:space-evenly;
    display: flex;
}
.filmes{
    width: 350px;
    height: 400px;

}


h3{
    display:flex;
    justify-content: center;
    margin:10px;
    
}

.saiba-mais{
    text-decoration: none;
    display:flex;
    justify-content: center;
    margin-bottom:100px;

}
.rodape{
    display: flex;
    justify-content: center;

}
.rodape ul{
    position: absolute;
    
}

.rodape li{
    display:inline;

}
.midias{
    width: 50px;
    height: 50px;
}
